.groups-content {
  display: flex;
  flex-direction: column;

}
.groups-content button {
  display: block;
  margin-bottom: 1rem;
  margin-left: auto;
  width: fit-content;
}
.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}
